<div class="form-group row mb-3">
  <label class="col-md-3 col-form-label">{{ label }}</label>
  <div class="col-md-9">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="{{ name }}" value="male" id="male">
      <label class="form-check-label" for="male">Male</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="{{ name }}" value="female" id="female">
      <label class="form-check-label" for="female">Female</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="{{ name }}" value="other" id="other">
      <label class="form-check-label" for="other">Other</label>
    </div>
  </div>
</div>
